.modal_overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 30, 30, .7);

    .modal_container {
        background-color: $gray-90;
        border: 1px solid $gray-50;
        border-radius: $space-xxs;
        position: relative;
        padding: $space-xs;
        width: 75%;
        height: fit-content;
        overflow-x: auto;
        max-height: 90vh;
        overflow-y: auto;

        @include mobile {
            width: 100%;
        }

        .close {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        .modal_header {
            padding-top: $space-s;
            
            @include mobile {
                display: flex;
                flex-direction: column;
                gap: $space-xxs;
                padding-top: 0;

            }

            .modal_text {
                @include mobile {
                    font-size: 18px;
                }
            }
        }

        .edit_modal {
            overflow-y: auto;
            max-height: 600px;

            .categories_wrapper {
                display: flex;
                flex-wrap: wrap;
                text-align: left;
                gap: $space-xs;
                padding-top: $space-m;
                justify-content: center;
            }

            .customized_mood {
                display: flex;
                padding-top: $space-m;
                // justify-content: space-between;
                gap: $space-xs;
            
                @include mobile {
                    flex-direction: column;
                }
            }
            
            .palete_container {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }
            
            .emoji_container {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }
        }
    }

}