// Breakpoints
$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;

//Colors
$white: #FFFFFF;

$gray-50: #979797;
$gray-80: #2E2E2E;
$gray-90: #1E1E1E;

$purple: #F3BBE5;

//Spacing
$space-xxs: 10px;
$space-xs: 20px;
$space-s: 30px;
$space-m: 40px;